.container_fluid {
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}
.header {
  grid-area: header;
}
.footer {
  grid-area: footer;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}


.header,
.footer {
  color: hsl(22, 78%, 26%);
  background-color: hsl(48, 96%, 89%);
}
.content {
  color: hsl(177, 51%, 23%);
  background-color: hsl(177, 51%, 93%);
}
.sidebar {
  color: hsl(177, 51%, 23%);
  background-color: hsl(177, 51%, 82%);
}

@media only screen and (max-width: 600px) {
  .container_fluid {
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto 60px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}
